<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
    <!--<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
    <!--<link href="/main.css" rel="stylesheet">-->
    <!--<script src="/webjars/jquery/jquery.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="app.js"></script>
</head>
<body>

<h1>Spring Boot Web Thymeleaf Example !!</h1>
<h2>
    "AUTH"
</h2>


</body>



</html>